@import '~antd/dist/antd.css';

body {
  font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.box {
	text-align: center;
	/*border: 2px red solid;*/
}

.champion_select_box {
	cursor: pointer;
	text-align: center;
	margin: 3px;
}

.your_champions {
	min-height: 20%;
  margin-bottom: 2px;
  display: block;
  margin: auto;
}

.champ_select_image {
	max-width: 100%;
}

.champ_select {
	text-align: center;
	max-height: 700px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.inline_champ_image {
	max-width: 100%;
}

.sidebar_enemy_champ_image, .sidebar_your_champ_image {
  padding: 3px;
	max-width: 100%;
}

.champion_input{
  max-width: 400px;
  margin: 10px;
}

.center_div {
	display: block;
	margin: auto;
}

.header_div {
  display: block;
  margin: auto;
  padding: 10px;
  background: whitesmoke;
}

.footer_div {
  text-align: left;
  display: block;
  margin: auto;
  padding: 20px;
  background: whitesmoke;
}

.footer_image {
  max-height: 300px;
  max-width: 100%;
  margin: auto;
}

.info_div {
  background: #fff;
  padding: 24px;
  max-width: 800px;
  min-height: 280px;
}

.loading_div {
	display: block;
	margin: auto;
  min-height: 100%;
  padding: 50px;
}

#chart {
  max-width: 1200px;
  margin: auto;
  padding: 20px
}

/* ANT CUSTOMIZATIONS */

.ant-card-body {
  padding: 10px;
}



@media only screen and (max-width: 600px){


	.champ_select {
		text-align: center;
		max-height: 350px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.champ_select_image {
		max-width: 75px;
	}
  .champion_input {
    margin: 0px;
  }
}
